@media (max-width: 1680px){
      .shape-five img{
            width: 120px
      }
}

@media (max-width: 1600px){
      .features .item{
            margin: 100px 80px;
      }
}

@media (max-width: 1440px){
      .shape-five{
           display: none;
      }
}

@media (max-width: 1366px){
      .tailored{
            margin-top: 0px;
      }
}

@media (max-width: 1136px){
      .shape-four{
            display: none;
      }
}

@media (max-width: 1080px){
      .title-bg img{
            height: 200px;
      }
}

@media (max-width: 991px){
      .choose-us .choose-items ul li{
            font-size: 16px;
            margin-bottom: 30px;
            text-align: center;
      }
      
      .tailored{
            margin-top: 0px;
            margin-bottom: 40px;
      }

      .team-tailored .tailored span{
            display: block;
            text-align: center;
            margin: auto!important
      }
}


@media (max-width: 854px){
      .section-title h2{
            font-size: 40px;
            line-height: 45px;
      }

      
      .features .item-title h3{
            font-size: 25px;
      }

      .features .item{
            display: block;
      }

      .features .item img{
            margin-bottom: 40px;
      }
}


@media (max-width: 768px){
      .copyright span{
            position: inherit;
            display: inline-block;
            margin: auto 20px;
      }
      .shapes{
            display: none;
      }
}

@media (max-width: 767px){
      .choose-items{
            margin-top: 0px;
      }
}


@media (max-width: 640px){
      .section-title h2 {
            font-size: 30px;
            line-height: 20px;
            margin-top: -10px;
        }

      .rocket p{
            font-size: 16px;
            line-height: 22px;
      }

      .features .item .item-text p{
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 40px;

      }
      

      .item a{
            float: none!important;
      }

      .item{
            text-align: center;
      }

      .item .item-title{
            padding-left: 0!important;
      }

      .item-title h3{
            font-size: 22px;
            line-height: 25px;
      }

      .item-text{
            width: 100%;
      }

      footer ul li a{
            font-size: 16px;
      }
}

@media (max-width: 560px){
      footer h4,
      footer ul li{
            text-align: center;
      }

      .copyright span{
            font-size: 30px;
      }
}

@media (max-width: 480px){
      .choose-us .choose-items ul li{
            font-size: 18px;
            margin-bottom: 35px;
            color: #444;
            text-align: center;
      }
      
}