/************************/
/* Home page            */
/************************/

/* banner */
.banner{
      position: relative;
      width: 100%;
}

.banner-content span{
      position: absolute;
      top: 6%;
      left: 7%;
      font-size: 40px;
      line-height: 24px;
      color: var(--white);
      font-weight: normal;
      font-family: 'TTRamillas';
      font-style: normal;
}

.banner-content h1{
      position: absolute;
      top: 30%;
      left: 10%;
      font-size: 60px;
      line-height: 60px;
      color: var(--white-700);
      width: 35%;
      letter-spacing: 0.05em;
      font-weight: bold;
      font-family: 'TTRamillas';
      font-style: normal;
}


.banner-content p{
      position: absolute;
      top: 54%;
      left: 10%;
      font-size: 24px;
      line-height: 30px;
      color: var(--white);
      width: 25%;
      font-family: 'Roboto',sans-serif;
      font-weight: normal;
      font-style: normal;
}

.banner-content a{
      position: absolute;
      top: 68%;
      left: 10%;
      font-size: 24px;
      line-height: 30px;
      color: var(--white);
      border: 2px solid var(--white);
      padding: 10px 30px;
      border-radius: 5px;
      transition: all 0.4s ease;
}

.banner-content a:hover{
      background-color: var(--text-green-800);
      color: var(--white);
      border: 2px solid var(--text-green-800);

}

@media (max-width: 1759px){
      .banner-content h1{
            width: 40%;
            top: 25%;
      }

      .banner-content p{
            top: 49%;
            width: 35%;
      }

      .banner-content a{
            top: 60%;
      }
}


@media (max-width: 1600px){
      .banner-content h1{
            font-size: 55px;
      }
}


@media (max-width: 1516px){
      .banner-content span{
            font-size: 45px;
            line-height: 50px;
      }

      .banner-content h1{
            font-size: 50px;
            line-height: 50px;
      }

      .banner-content p{
            top: 50%;
      }

      .banner-content a{
            top: 65%;
      }
}

@media (max-width: 1400px){
      .banner-content h1{
            font-size: 45px;
      }
}


@media (max-width: 1366px){
      .banner-content h1{
            top: 30%;
            font-size: 40px;
      }

      .banner-content p{
            top: 55%;
            width: 35%;
      }

      .banner-content a{
            top: 70%;
      }
}

@media (max-width: 1200px){
      .banner-content h1{
            top: 25%;
            font-size: 35px;
            width: 45%
      }

      .banner-content p{
            top: 48%;
      }

      .banner-content a{
            top: 70%;
      }
}

@media (max-width: 1136px){
      .banner-content h1{
            top: 28%;
            font-size: 35px;
            width: 45%
      }

      .banner-content p{
            top: 55%;
      }

      .banner-content a{
            top: 75%;
      }
}


@media (max-width: 991px){
      .banner-content span{
            font-size: 32px;
      }

      .banner-content h1{
            font-size: 35px;
            top: 25%;
      }

      .banner-content p{
            top: 58%;
            width: 40%;
            font-size: 20px;
      }

      .banner-content a{
            top: 80%;
            font-size: 18px;
      }
}


@media (max-width: 960px){
      .banner-content h1{
            width: 40%;
            font-size: 30px;
            line-height: 35px;
      }

      .banner-content p{
            top: 55%;
            width: 40%;
      }

      .banner-content a{
            top: 80%;
            padding: 5px 15px;
      }
}


@media (max-width: 880px){
      .banner-content h1{
            width: 45%;
            top: 22%;
      }

      .banner-content p{
            width: 40%;
            top: 50%;
      }

      .banner-content a{
            top: 80%;
      }
}

@media (max-width: 854px){
      .banner-content h1{
            top: 30%;
      }

      .banner-content p{
            top: 60%;
            font-size: 16px;
            line-height: 22px;
      }

      .banner-content a{
            top: 85%;
            font-size: 16px;
      }
}

@media (max-width: 767px){
      .banner-content span{
            font-size: 20px
      }
      .banner-content p{
            position: static;
            color: var(--text-green-800);
            width: 95%;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            padding-top: 40px;
            margin: auto;
      }

      .banner-content a{
            position: static;
            margin: auto;
            color: var(--text-green-800);
            border: 2px solid var(--text-green-800);
            display: block;
            text-align: center;
            width: 20%;
            margin-top: 30px;
      }
}

@media (max-width: 640px){
      .banner-content h1{
            font-size: 25px;
      }
}

@media (max-width: 580px){
      .banner-content h1 {
            top: 30%;
            font-size: 20px;
            line-height: 25px;
        }

      .banner-content a{
            width: 25%;
      }
}

@media (max-width: 480px){
      .banner-content h1 {
            top: 25%;
            font-size: 18px;
            line-height: 22px;
        }

        .banner-content p{
              font-size: 16px;
        }

        .banner-content a{
            font-size: 16px;
            width: 30%;
            padding: 3px 8px
      }
}

@media (max-width: 400px){
      .banner-content span {
            top: 5%;
      }
      .banner-content h1 {
            top: 25%;
            font-size: 14px;
            line-height: 20px;
      }
}


.section-title h2{
      color: var(--text-green-800);
      font-family: 'TTRamillas',sans-serif;
      font-weight: 500;
      font-size: 45px;
}

.section-title h2 span{
      color: #444;
      font-size: 80px;
      padding-left: 5px

}


.rocket{
      position: relative;
}

.features{
      position: relative;
}

.features .item{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
      margin: 100px 300px;
      text-transform: uppercase;
}

.features .item-title h2{
      font-family: 'TTRamillas',sans-serif;
      font-style: 60px;
      font-weight: 600;
      color: var(--text-green-800);
      text-transform: uppercase;
}

.features .item-title h3{
      font-family: 'TTRamillas',sans-serif;
      font-size: 30px;
      font-weight: 500;
      color: var(--text-green-800);
      text-transform: uppercase;
}

.features .item .item-text p{
      letter-spacing: 0.05em;
      line-height: 35px;
      font-family: 'Roboto',sans-serif;
      font-weight: 400;
}

.features .item a{
      color: #333;
      font-weight: 600;
      float: right;
      margin: 20px auto;
}

.features .item:nth-child(even) .item_image{
      order: 2;
      margin-left: auto;
}

.features .item:nth-child(even) a{
      float: left;
}

.tailored{
      margin-top: 120px;
}

.team-tailored{
      background-color: #E7E3E3;
      position: relative;
}

.team-tailored h2{
      color: var(--text-green-800);
      text-transform: capitalize;
}

.tailored span{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 56px;
      text-transform: uppercase;
      color: #BDBDBD;
      margin: 20px auto;
      cursor: pointer;
      transition: all 0.4s ease;
}

.tailored span:hover{
      color: #222;
}

.choose-us h2{
      text-transform: capitalize;
      color: var(--text-green-800);
}

.choose-us .choose-items ul li{
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 40px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      color: #444;
}

.choose-us .choose-items ul li:last-child{
      margin-bottom: 0;
}

.choose-us .choose-items ul li svg{
      margin-right: 15px;
}