@font-face {
    font-family: 'BreveNews';
    src: url('BreveNews-Medium.woff2') format('woff2'),
        url('BreveNews-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

